<p>Choose your car</p>
<% if @cars.nil? %>
<p>-</p>
<% else %>
  <table>
        <%= render :partial => 'cars/car', :collection => @cars %>
  </table>
<% end %>
<p>Add a new car</p>
<%= form_for Car.new(:user_id => current_user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :tank_size %>
    <%= f.text_field :tank_size, :size => 5 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
